<h1>Coaching#ask</h1>
<p>Find me in app/views/coaching/ask.html.erb</p>

<!-- <form action="/answer" method="get">
  <input type="text" name="query" placeholder="Ask your question?">
  <input type="submit">
</form> -->

<form action="/answer" method="get">
  <label for="hello">Speak to your coach</label>
  <input type="text" id="hello" name="query" placeholder="Ask your question?">
  <input type="submit" value="Go on!">
</form>

